{% extends '_base.html' %}

{% block content %}
<h3>用户登录</h3>
<hr>

<form method="post" action="{% url account-login %}" class="form-horizontal">
    <fieldset>
        {% csrf_token %}
        
        {% include '_form.html' %}
        
        <input type="hidden" name="next" value="{{ next }}" />
        
        <div class="form-actions">
            <a href="{% url account-register %}" class="btn">注册新账号</a>
            <button type="submit" class="btn btn-primary">登录</button>
        </div>
    </fieldset>
</form>

{% endblock content %}