<div class="row-fluid muted">
    <div class="span6" style="padding-top: 20px;">CopyLeft &copy; All Rights Opened</div>
    <div class="span6" style="text-align:right;padding-top:12px;font-size:10px;">
        Powered By <a href="http://www.python.org/" target="_blank">Python</a>,
        <a href="http://www.djangoproject.com/" target="_blank">Django</a> and
        <a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a>
        <br>
        Code Hosted On <a href="https://github.com/woodyhuang/sjtuoo" target="_blank">Github</a>
    </div>
</div>