{% extends '_base.html' %}

{% block content %}
{% for p in products %}
    <div class="row-fluid">
        <div class="span2">
            <a href="{% url product-detail p.id %}">
                <img class="thumb-img img-rounded" src="/static/{{ p.image }}">
            </a>
        </div>
        <div class="span9">
            <a href="{% url product-detail p.id %}">{{ p }}</a>
            <br> <span class="label label-info">{{ p.price|asmoney }}</span> &nbsp; 发布于{{ p.created_time }}
            <a class="btn pull-right" href="#">加入购物车</a>
        </div>
    </div>
    {% if not forloop.last %}<hr>{% endif %}
{% endfor %}
{% endblock %}